---
const { link, src, alt, blank } = Astro.props;
const target = blank ? "_blank" : undefined;
---

<a href={link} target={target} data-cursor="pointer">
    <img class="static" src=`/assets/${src}` alt={alt} />
    <img class="hover" src=`/assets/hover/${src}` alt={alt} />
</a>
